*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: #e8a5b6;
}
.nav {
  min-height: 40px;
  background-color: #000;
  text-align: center;
  padding: 3px;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-flow: row;
  color: #fff;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}
.menu li {
  padding: 10px;
}
.name {
  display: block;
  margin-right: auto;
}
header{
  padding-top: 40px;
  width: 100;
  height: 350px;
  background-image: url("./background-image.jpg");
  background-size: cover;
  text-align: center;
}
header img {
  border-radius: 50%;
  border: 2px solid #000;
  width: 170px;
  height: 170px;
  transition: all .5s;
}
header img:hover{
transform: scale(1.1) rotate(360deg);
}
.tag {
  background-color: #fff;
  display: table;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px
  }
.content {
  display: flex;
  flex-flow: row;
  margin: auto;
  justify-content: space-around;
}
.card {
  max-width: 500px;
  margin: 10px;
  padding: 50px;
  text-align: center;
  border-bottom: 3px solid grey;
  border-radius: 5px;
}
.tag-list{
  display: flex;
  padding: 3px;
  flex-flow: row;
  list-style-type: none;
  }
.tag-pink{
  background-color: #f5b8c7;
  color: #fff
}
.tag-green{
  background-color: #7eed72;
  color: #fff
}
.tag-yellow{
  background-color: #e9ed72;
  color: #000;
}
footer{
  text-align: center;
  padding: 60px;
}
